---
import { SITE } from '../config';
import Layout from '../layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import '../styles/global.css';

//Example only delete after testing

import PreviewCard from '../components/PreviewCard.astro';
import garden from '../assets/garden.svg';


const services = [
    {
      title: "AFFORDABLE 🎥 Video Production, 🎬 Editing, 🌈 Color Grading (Capital Region... and beyond)",
      imageSrc: "https://tecdn.b-cdn.net/img/new/slides/041.jpg",
      category: "Creative",
      provider_name: "Daydreaming Camera",
      content: `Budget friendly professional video production, video editing and color grading / color correction services. Professional equipment. Fast turnaround. Lots of satisfied clients (references available upon request.)
  
        I also offer one-on-one editing where I'll edit the video with you (at a library, mall, coffee shop, your home office etc.), giving you the opportunity to make suggestions in real time so you are 100% satisfied with the final video. We'll not only save time on sending edits back and forth, but the final video will be exactly how you visualized it.
        
        You can see some of my work at: http://www.daydreamingcamera.com
        "daydreaming camera" on YouTube and Facebook, or
        @daydreaming_camera on Instagram (underscore)
        
        Please send me your idea / concept, budget and schedule, and I'll let you know how I can turn your vision into reality.
        
        Looking forward to making magic with and for YOU :-)`,
      major_muni: "Puntarenas",
      minor_muni: "Esparza",
      governing_muni: "Miramar",
    },
    {
      title: "Cleanups/Mowing- Call Brian today- Free Estimates!!! (Colonie, Albany, Schenectady, Latham Area NY)",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.jpg",
      category: "Gardening",
      provider_name: "Brian the Lawn Guy",
      content: `Call Brian at BVV Lawn Care for your FREE Estimate on any yard Cleanup or Mowing Service.
  
        518-423-2255 **Please Call
  
        -Cleanups
        -Mowing
        -Mulch
        -Hedge trimming`,
      major_muni: "San Jose",
      minor_muni: "Purral",
      governing_muni: "Goicoechea",
    },
  
    {
      title: "518 MR. PAINT- Interior/ Exterior (Capital District)",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/042.jpg",
      category: "Construction",
      provider_name: "518 MR. PAINT",
      content: `We'd like to welcome you to the premiere paint company of the Capital District! We pride ourselves on quality of work and customer satisfaction! We do both residential and commercial work, both interior and exterior paint!
  
        *10 yrs Experience*
        *Fully Insured*
  
        No job too big or small. Give us a call. Available for day and night. Ask for Mike.
  
        Call or text- (518) 764-4241
  
        *Additional Services*
  
        -Sheetrock Repair
        -Cabinet Painting
        -Deck Staining and Painting
        -Pressure Washing
  
        *Promotional Deals*
  
        -Early Bird Spring Exteriors Discounts
        -Kitchen, Living Room and Dining Room Bundle`,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
    {
      title: "RESIDENTIAL/COMMERCIAL CLEANING (Schenectady)",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.webp",
      category: "Cleaning",
      provider_name: "Sparkle & Shine Cleaning",
      content: `Most of us can agree that life can get a bit hectic. School, work , family and chores.
  
        Allow me to take away some stress by cleaning up the mess, bringing your home back to a Sparkle & Shine!
        #judgementfreezone
        #Deaf/hardofhearingfreindly
        #cleaningistherapy
        Text only or email
        Servicing Capital Region
        Schenectady,Troy,Amsterdam,Saratoga…etc
        Accommodating to your needs!`,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
    {
      title: "Service 5",
      imageSrc: "https://tecdn.b-cdn.net/img/new/slides/041.jpg",
      category: "Healthcare",
      provider_name: "",
      content: `Massage Therapy in your home or office.
  
        My bodywork is through intuition and will utilize various massage techniques including but not limited to myofascial release, trigger point, sports and Swedish massage a tailor-made massage for you to remove stress, tension, discomfort, and pain in comfort of your own home.
        
        I have been in practice in and about this area since my graduation from the Florida School of Massage and becoming
        NYS licensed in 1993
        
        Hour. 90 min. and 2-hour sessions are available`,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
    {
      title: "EXCAVATING GRADING SEPTIC SYSTEMS EXCAVATOR SITE WORK TRUCKING",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.jpg",
      category: "Category",
      provider_name: "",
      content: `Hello you have reached Tri-County Masonry & Excavating! The most versatile group in the northeast. If you need excavating concrete or masonry please contact us for the most efficient free estimate. You can contact us by phone email website or just simply text. Also check us out on YouTube !
        DIRTBOSS
        https://www.youtube.com/channel/UCrMGlPEJFZXd3_LSUbor5NA
        Thanks Mike
        Owner
        Phone: (518) 528-1646
        
        Here are a few of are services:
        WASHED OUT DRIVEWAYS
        STONE DRIVEWAYS
        LAND CLEARING
        FORESTRY MULCHING
        STUMPING
        BRUSH CUTTER CUTTING
        BRUSH CONTROL
        MULCHING
        SKID STEER BRUSH HOGGING
        CULTURED STONE
        BLOCK FOUNDATIONS
        JACK HOUSE TO REPLACE FOUNDATION
        POURED FOUNDATIONS
        SIDEWALKS,PATIOS
        RETAINING WALLS
        EXCAVATION
        SEPTIC SYSTEMS
        WATER DRAINAGE
        WATER PROBLEMS
        WET BASEMENT
        EMERGENCY FLOOD CLEANUP
        EMERGENCY FLOODING
        EMERGENCY CLEANUP
        YARD DRAINAGE
        CATCH BASINS
        POND BUILDS
        POND REPAIR
        POND DREDGING CLEANUPS
        CIVIL WORK
        ROAD BUILDERS
        DRIVE WAY BUILD REPAIR
        DRIVEWAY STONE
        CRUSHER RUN
        LAND CLEARING
        WATER DRAINAGE
        DEMOLITION ECT.
        SNOW REMOVAL TRUCKING
        
        We also haul SAND, STONE, GRAVEL, TOPSOIL.
        
        Were licenced and fully insured, thanks for reading our ad.
        
        Mike Petropol jr.
        Tri-County Masonry & Excavating
        (518)528-1646`,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
    {
      title: "Service 7",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/042.jpg",
      category: "Category",
      provider_name: "",
      content: ``,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
    {
      title: " Other Service",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.webp",
      category: "Category",
      provider_name: "",
      content: ``,
      major_muni: "Alajuela",
      minor_muni: "Alajuela",
      governing_muni: "Alajuela",
    },
  ];
---

<Layout pageTitle={t('pageTitles.home')}>
	<h1 class= text-end>{t('pageTitles.home')}</h1>
	<div>
		{services.map((service) => (
			<div>
				<PreviewCard title={service.title} 
        imageSrc={service.imageSrc} 
        category={service.category} 
        major_muni={service.major_muni} 
        minor_muni={service.minor_muni} 
        governing_muni={service.governing_muni} 
        content={service.content} 
        provider_name={service.provider_name} />
			</div>
		))}
	</div>
</Layout>


<!-- =================**************** ORIGINAL INDEX CODE - NO DELETE *****************=================
---
import { SITE } from '../config';
import Layout from '../layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import '../styles/global.css';
---

<Layout pageTitle={t('pageTitles.home')}>
	<h1>{t('pageTitles.home')}</h1>
</Layout>
-->

