---
const { title, category, imageSrc, location, provider_name, content, major_muni, minor_muni, governing_muni } = Astro.props;

---

<div class="border border-#7E9E85 rounded-lg shadow-lg width-full md:flex flexbox justify-center">
  <img src={imageSrc} alt={title} class="rounded-t-lg w-full h-48 object-cover"/>

  <div class="p-16 py-30 px-15 py-8 m-4 w-68 justify-center flex-wrap content-between">

    <h3 class="text-xl font-bold mb-2 text-000000 dark:text-white sm:text-center text-left md:max-xl:flex">{title}</h3>
    <p class="text-#F0F0F0 text-sm mb-2 dark:text-#000000 sm:text-center text-left md:max-xl:flex">{category}</p>
    <!-- DELETE**** we don't need more  <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{location}</p>-->
    <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{major_muni}</p>
    <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{minor_muni}</p>
    <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{governing_muni}</p>
    <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{content}</p>
    <p class="text-#2E2E2E text-sm dark:text-#000000 sm:text-center text-left md:max-xl:flex">{provider_name}</p>

    <div class="flex-wrap"></div>

  </div>
</div>

<!-- ======================================DELETE============================================
  <astro>
    export function PreviewCard({ title, imageSrc, category, location }) {
      return (
        <div class="border border-gray-300 rounded-lg shadow-lg">
          <img src={imageSrc} alt={title} class="rounded-t-lg w-full h-40 object-cover" />
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">{title}</h3>
            <p class="text-gray-600 text-sm mb-2">{category}</p>
            <p class="text-gray-600 text-sm">{location}</p>
          </div>
        </div>
      );
    }
    </astro> -->